name: CI

on:
  push:
    branches:
      - main
    
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-24.04
    name: Test
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install black==24.10.0 pytest

      - name: Check formatting with Black
        run: black --check .

      - name: Run tests
        run: pytest tests/
